.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
  border: 1px solid black;
}

.contiainer-item {
  text-align: center;
}

p {
  text-align: center;
}
